#industry-network {
  background: #FFF;
  position: relative;
  margin: 0 auto 1rem;
  border: 2px solid #D8D8D8;
  border-radius: 4px;
  height: 650px;
}

.vis-manipulation {
  background: #f1f5f7;
  border-bottom: 1px solid #D8D8D8;
  padding: .25rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

  .vis-manipulation > div {
    display: inline-block;
  }

.vis-button {
  color: #FFF;
  background: #006699;
  padding: .3rem 1rem;
  margin: 0 .25rem 0 0;
  border-radius: 3px;
  font-weight: bold;
  font-size: .75rem;
}
  .vis-button:hover {
    cursor: pointer;
  }
  .vis-button.vis-none {
    background: transparent;
    color: #404040;
  }
  .vis-button.vis-none:hover {
    cursor: default;
  }

.vis-separator-line {
  display: none !important;
  margin: 0 1px;
}

.vis-edit-mode {
  background: #f1f5f7;
  border-bottom: 1px solid #D8D8D8;
  padding: .25rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
  .vis-edit-mode > .vis-edit-mode {
    background: #006699;
    position: relative;
    width: 60px;
    text-align: center;
  }
  .vis-edit-mode > .vis-edit-mode:hover {
    cursor: pointer;
  }

.vis-close {
  position: absolute;
  top: .4rem;
  right: 0;
  width: 20px;
  height: 20px;
}
  .vis-close:hover {
    cursor: pointer;
    color: #006699;
  }
  .vis-close::before {
    display: inline-block;
    font-family: "FontAwesome"; 
    content: "\f00d";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
  }

#operation {
  font-size: 28px;
}

#network-popUp {
  display: none;
  position: absolute;
  top: 350px;
  left: 170px;
  z-index: 299;
  width: 250px;
  height: 120px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  text-align: center;
}
